<% let defaultDisplayValues = [
question.answer_settings.defaultMin,
question.answer_settings.defaultMax,
]; %>
<div class="d-flex flex-column mb-3 justify-content-center text-center">
  <h4><%=getText(`question-text-${question.unique_question_identifier}`)%></h4>
  <span id=<%=`generated-${question.unique_question_identifier}-slider-display`%>><%=getText(`range-display-${question.unique_question_identifier}`,defaultDisplayValues)%></span>
</div>     
<div class="d-flex flex-row justify-content-center quiz-slider-container">

<div style="display:flex;align-items:center;">
  <input id=<%=`generated-slider_${question.unique_question_identifier}`%> type="text" />
</div>
</div>